@model Presupuesto

<div class="container mt-4">
    <div class="mb-4">
        <h2 class="text-center">Presupuesto</h2>
        <p class="text-center"><strong>Nombre del Destinatario:</strong> @Model.NombreDestinatario</p>
        <p class="text-center"><strong>Fecha de Creación:</strong> @Model.FechaCreacion.ToString("dd/MM/yyyy")</p>
    </div>
    <p class="text-center">¿Desea eliminar este presupuesto?</p>
    <div class="text-center">
        <a asp-controller="Presupuestos" asp-action="EliminarPresupuestoPorId" asp-route-id="@Model.IdPresupuesto" class="btn btn-success">Eliminar</a>
        <a asp-controller="Presupuestos" asp-action="Index" class="btn btn-danger">Cancelar</a>
    </div>
</div>