@model int

<form asp-controller="Presupuestos" asp-action="EliminarProductoEnPresupuesto" method="post" class="container mt-4">

    <input type="hidden" name="idPresupuesto" value="@Model" />
    
    <div class="mb-3">
        <label for="idProducto" class="form-label">Producto</label>
        <select name="idProducto" class="form-control" required>
            <option value="">Seleccione un producto</option>
            @foreach (var producto in (IEnumerable<SelectListItem>)ViewData["Productos"])
            {
                <option value="@producto.Value">@producto.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Eliminar Producto</button>
</form>